<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Petra Splash </title>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/splash.css">
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"> <span id="brand"> Petra </span> </a>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavDropdown">
        <ul class="nav navbar-nav pull-sm-right">
            <li class="nav-item">
                <a class="nav-link" href="#"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ftr1">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#aboutUs">About us</a>
            </li>
        </ul>
    </div>
</nav>

<div id="stage">
    <div id="stage-caption">
        <h1 class="display-3"> Best learning Platform </h1>
        <p>the best learning experience for both student and administrators </p>
        <a href="/admin/signin" class="btn btn-lg btn-success btn-success-sup"> &nbsp; Sign In Admin &nbsp;</a>
        <a href="/student/signin" class="btn btn-lg btn-success btn-success-sup"> Sign In Student </a>
    </div>
</div>

<section class="feature" id="ftr1">
    <div class="feature-one" id="feature1">
        <div class="container">
            <div class="row" id="ft1">
                <!--<div class="feature-content">-->
                <div class="col-md-5 col-lg-5 flex">
                    <img src="img/sharing.png" alt="">
                </div>
                <div class="col-md-5 col-lg-5 col-md-offset-2">
                    <h6> Sharing </h6>
                    <h2> Making the Class Smart and Connected </h2>
                    <p class="lead">keeping the whole connected every student is only on click away </p>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="feature feature-two">
        <div class="container">
            <div class="row" id="ft2">
                <!--<div class="feature-content">-->
                <div class="col-md-5 col-lg-5 col-md-offset-2">
                    <h6> Connectivity </h6>
                    <h2> Chat Available all the time yay </h2>
                    <!--<h5 class="text-center"> even whithout a connection </h5>-->
                    <p class="lead"> there is no external dependencies the application is portable , and lightweight so that it can be served from any computer .</p>
                </div>
                <div class="col-md-5 col-lg-5">
                    <img src="img/own_message.jpg" alt="">
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
<section class="feature">
    <div class="feature-two">
        <div class="container">
            <div class="row" id="ft3">
                <div class="col-md-5 col-lg-5">
                    <img src="img/scorm.png" alt="">
                </div>
                <!--<div class="feature-content">-->
                <div class="col-md-5 col-lg-5 col-md-offset-2">
                    <h6> Smart Learning </h6>
                    <h2> Easier Scorm Integration </h2>
                    <!--<h5 class="text-center"> Even whithout a connection </h5>-->
                    <p class="lead"> Scorm Lessons and Tests easy integration , just make a lesson on opal and give us the zip we will take care of it .</p>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
<section class="feature darken div-shadow" id="aboutUs">
    <div class="cards-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <h1 class="text-center" id="aboutText"> About Us </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8 offset-sm-2 shadow left">
                            <section id="firstCard">
                                <div class="row">
                                    <div class="col-md-12 flex">
                                        <img src="img/chaimae.jpg" width="150px" class="my-card-image" height="150px"
                                             class="rounded-circle"
                                             alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-sm-2 profession">
                                        <h6 class="text-center"> Developer </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-sm-2">
                                        <p class="lead text-center name"> Chaimae Ben Akka </p>
                                    </div>
                                </div>
                                <div class="row social">
                                    <div class="col-md-6 offset-3">
                                        <a class="btn btn-default btn-sm facebook" rel="publisher"
                                           href="https://www.facebook.com/chamixa.lovieuse" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm twitter" rel="publisher"
                                           href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm whatsapp" rel="publisher"
                                           href="#">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8 offset-sm-2 shadow right">
                            <section id="secondCard">
                                <div class="row">
                                    <div class="col-md-12 flex">
                                        <img src="img/hello.jpg" width="150px" class="my-card-image" height="150px"
                                             class="rounded-circle"
                                             alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-sm-2 profession">
                                        <h6 class="text-center"> Developer </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-sm-2">
                                        <p class="lead text-center name"> Cheracher Mehdi </p>
                                    </div>
                                </div>
                                <div class="row social">
                                    <div class="col-md-6 offset-3">
                                        <a class="btn btn-default btn-sm facebook" rel="publisher"
                                           href="https://www.facebook.com/mehdi.maick" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm twitter" rel="publisher"
                                           href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm whatsapp" rel="publisher"
                                           href="#">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/jquery.js"></script>
<script src="js/Tether.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.viewportchecker.min.js"></script>

<script>
    $(document).ready(function () {
        $('section.feature').addClass('hide').viewportChecker({
            classToAdd: 'show animated fadeIn',
            offset: 200
        });
        $('.shadow.right').addClass('hide').viewportChecker({
            classToAdd: 'show animated fadeInRight',
            offset: 100
        });
        $('.shadow.left').addClass('hide').viewportChecker({
            classToAdd: 'show animated fadeInLeft',
            offset: 100
        });
        $('#aboutText').addClass('hide').viewportChecker({
            classToAdd: 'show animated fadeInDown',
            offset: 100
        });

        $('.nav-link').on('click', function () { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 950; // Durée de l'animation (en ms)
            $('html, body').animate({scrollTop: $(page).offset().top}, speed, function () {}); // Go
            return false;
        });

        let $win = $(window);
        let $nav = $('nav');

        $(document).scroll(() => {
            if ($win.scrollTop() >= 583) {
                console.log('window ', $win.scrollTop());
                $nav.addClass('blacked');
            } else {
                $nav.removeClass('blacked');
            }
        })
    });
</script>
</body>
</html>