<div class="row">
    <div id="vid" class="modal">
        <div class="modal-content">
            <div class="video-content">
                <video id="video" width="700px" controls></video>
            </div>
        </div>
    </div>

    <div class="col s6 offset-s3" id="wrapper-removed">
        <div class="spinner" id="spinner">
            <div class="preloader-wrapper big active" id="smaller-spinner">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <h3 class="connected-text">No One is connected </h3>
        </div>
    </div>
</div>